@charset "UTF-8";


@font-face {
   font-family:'NanumSquareL';
   src: url(../font/NanumSquareL.woff2) format('woff2');
 }
 @font-face {
   font-family:'NanumSquareR';
   src: url(../font/NanumSquareR.woff2) format('woff2');
 }
 @font-face {
   font-family:'NanumSquareB';
   src: url(../font/NanumSquareB.woff2) format('woff2');
 }
 @font-face {
   font-family:'NanumSquareEB';
   src: url(../font/NanumSquareEB.woff2) format('woff2');
 }
 
 
  /* font style */
 body, input, textarea, select, button, table, h1, p {
   font-family: 'NanumSquareR'; 
   font-size:15px; 
   line-height:1.5;
   letter-spacing:normal; 
   color:rgb(51,51,51); }
 
 /* font size */
 .p_36 {font-size:36px; line-height:46px; letter-spacing:-1px;}
 .p_32 {font-size:32px; line-height:45px;}
 .p_18 {font-size:18px; line-height:25px;}
 .p_16 {font-size:16px; line-height:22px;}
 .p_15 {font-size:15px; line-height:24px;}
 .p_14 {font-size:14px; line-height:19px;}
 .p_12 {font-size:12px; line-height:17px;}
 .p_10 {font-size:10px; line-height:15px;}
 
 /* font weight */
 .fW_3L {font-family:'NanumSquareL';}
 .fW_7B {font-family:'NanumSquareB';}
 .fW_8EB {font-family:'NanumSquareEB';}
 
 /* font color */
 .c_point {color:rgb(0, 184, 67);}
 .c_black {color:rgb(8, 8, 8);}
 .c_dgray {color:rgb(33, 33, 33)}
 .c_gray {color:rgb(51,51,51)}
 .c_lgray {color:rgb(135, 136, 144)}
 .c_white {color:rgb(255,255,255);}
 
 /* margin & padding */
 .mb_32 {margin-bottom:32px;}
 .pr_20 {padding-right:20px;}
 .pl_20 {padding-left:20px;}