@charset "UTF-8";


/* header */
header {
   width:100%;
   height:80px;
   margin:0 auto;
   background-color:rgb(255, 255, 255);
   text-align:center;
   position:fixed;
   z-index:1000;
   
}

.header {
   display:flex;
   justify-content: space-between;
   padding:30px;

}

.gnb_menu {
   display:flex;
   text-align:center;
}

.gnb_menu li {
   margin:0 32px;
   padding:0 0 9px 0;
   font-size:15px;
   font-weight:800;
   
}

.gnb_menu li a {
   padding:32px 0;
   font-family:'NanumSquareEB';
   color:rgb(51,51,51);   
}

.gnb_menu li:hover {
   border-bottom:3px solid rgb(0, 184, 67);
   transition:0.2s;
}

.header_util {
   display:flex;
   align-items: center;
   margin-bottom:10px;
}


.header_lang {
   padding:0 40px 0 0;
}

.header_lang a, .header_lang span {
   margin:0 4px;
}


.sitemap_box {
   width: 24px; 
   height: 23px; 
   vertical-align: middle;
    display: inline-block;
}
.btn_sitemap {
   width: 100%; 
   height: 100%; 
   position: relative; 
   display: block;
   background-color: rgba(255, 255, 255, 0);
}
.btn_line {
   position: absolute; 
   width: 100%;
   height: 2px; 
   left: 0; 
   background-color: rgb(51,51,51);
}

.btn_sitemap span:nth-child(1) { top: 4px; }
.btn_sitemap span:nth-child(2) { top: 10px; }
.btn_sitemap span:nth-child(3) { bottom: 5px; }

.btn_sitemap:hover .btn_line { background-color: #00c73c;}

/* //header */


/* hero */
.hero_wrap {
   width:100%;
   height: 611.612px;
   padding-top : 80px;
}

.hero_img {
   width:100%;
   height: 100%;
   background-image:url(../img/naver_corp2.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position:0;
   position:relative;
   
}

.hero_logo {
   width:228px;
   position:absolute;
   bottom:75px;
   right:160px;
}

.hero_text {
   position:absolute;
   top:282px;
   left:160px;
}

.hero_text p:nth-child(2) {
   margin-top:16px;
   width:267%;
   border-top:1px solid rgba(255, 255, 255, 0.6);
   padding-top:16px;
}

.hero_page {
   padding:23px 0 0 0;
}

.hero_page span {
   padding:0 2px 0 0;
}

.hero_btn_left { 
   width: 46px; 
   height: 46px; 
   left: 85px;
   background-position: -296px -99px; 
   background-color: rgba(255, 255, 255, 0);
}

.hero_btn_right { 
   width: 46px;
   height: 46px; 
   right: 85px; 
   background-position: -346px -99px; 
   background-color: rgba(255, 255, 255, 0);
}

.hero_btn_left, .hero_btn_right { 
   position: absolute; 
   bottom: 198px; 
   background-image: url(../img/all_icon.png); background-size: 474px 1400px; opacity: .8; 
}

.hero_btn_left:hover, .hero_btn_right:hover { 
   opacity: 1;
}
/* //hero */

/* main content */
.main_content {
   max-width:100%;
   padding:0 150px 120px;
}

/* content summary */
.content_summary {
   width:100%;
   display:flex;
   justify-content:space-between;
   margin-top:69px;
}

.content_news {
   width:26.6%;
   height:177px;
   padding-right:20px;
   border-right:1px solid rgba(165, 165, 165, 0.2);
}

.content_career, .content_stock  {
   width:26.6%;
   height:177px;
   padding:0 20px;
   border-right: 1px solid rgba(165, 165, 165, 0.2);
}

.content_finance {
   width:20.2%;
   height:177px;
   padding-left:20px;
}

.summary_title {
   font-size:14px;
   font-weight:900;
}

.news_box {
   height:76px;
   margin:30px 0;
}

.news_title {
   display: inline-block;
   width:100%;
   padding:0 5px;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap;
}

.news_title:hover {
   text-decoration:underline;
}

.news_text {
   display: inline-block;
   margin-top:10px;
   line-height:24px;
   width: 100%;
   height: 48px;

   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* 라인수 */
   -webkit-box-orient: vertical;
   word-wrap:break-word; 

}

.summary_link {
   position: relative;
}

.summary_link a:hover {
   text-decoration:underline;
}

.summary_link a:hover span svg {
   fill:rgb(255, 255, 255);
   border-radius:50%;
   background-color:rgb(0, 199, 60);
}

.icon_arrow {
   position:absolute;
   bottom:1px;
}

.icon_arrow svg {
   vertical-align:middle;
   margin-left:12px;
}

.career_text {
   height:76px;
   margin:30px 0;
}

.finance_text {
   height:76px;
   margin:30px 0;
}

.content_pricebox_wrap {
   margin:23px 0 38px 0;
   height:76px;
}
.content_pricebox {
   display:flex;
   justify-content:space-between;
   align-items:baseline;
   padding-bottom:7px;
   border-bottom: 1px solid rgb(51, 51, 51);
}

.stock_box {
   display:flex;
   justify-content:end;
   align-items:center;
}

.stock_up {
   width:10px;
   height:6px;
   background-image:url(../img/all_icon.png);
   background-position:-318px -26px;
   margin-right:10px;
}

.date {
   margin-top:12px;
   text-align:right;
}
/* //content_summary */


/* content service */
.content_service_wrap {
   margin-top:98px;
}

.content_service { 
   display:flex; 
   flex-wrap:wrap;
}

.content_service_box {
   display:inline-block;
   position:relative;
   width:33.333%;
   padding-top:25%;
   background-size:cover;
   overflow:hidden;
}

.content_service_box:first-child { 
   background-image: url(../img/box1.png);
}
.content_service_box:nth-child(2) { 
   background-image: url(../img/box2.png);
}
.content_service_box:nth-child(3) { 
   background-image: url(../img/box3.png);
}
.content_service_box:nth-child(4) { 
   background-image: url(../img/box4.png);
}
.content_service_box:nth-child(5) { 
   background-image: url(../img/box5.png);
}
.content_service_box:nth-child(6) { 
   background-image: url(../img/box6.png);
}
.content_service_box:nth-child(7) { 
   background-image: url(../img/box7.png);
}
.content_service_box:nth-child(8) { 
   background-image: url(../img/box8.png);
}
.content_service_box:nth-child(9) { 
   background-image: url(../img/box9.png);
}

.service_box_thumbnail {
   position:absolute;
   left:0; 
   top:0; 
   width:100%; 
   height:100%; 
   background-color:rgba(58, 62, 80, 0.5); 
   font-size:15px; 
   opacity:0;
   transition:all .3s;
}

.content_service_box:hover .service_box_thumbnail {
   opacity:1;
 }

.content_service_box dl { 
   position:absolute; 
   left:0; 
   bottom:-103px; 
   width:100%; 
   padding:50px 0 0 30px; 
   color:rgb(255,255,255); 
   transition:bottom .3s;
}

.content_service_box dl::before { 
   content:'';
   position:absolute;
   top:0;
   left:30px; 
   width:23px; 
   height:23px; 
   background-image: url(../img/all_icon.png); 
   background-size:474px 1400px; 
   background-position:-199px -129px;
}

.service_box_thumbnail dl dt {
   font-family:'NanumSquareEB';
   font-size:22px;
   margin-bottom:2px; 
}

.content_service_box:hover .service_box_thumbnail dl {
   bottom:10%;
 }
 /* //content service */

 
 /* content support */
.content_support {
   width: 100%;
   margin-top: 112px;
   text-align: center;
}

.support_title {
   font-family: 'NanumSquareB';
   font-size: 32px;
   margin-bottom: 17px;
}

.support_text {
   font-size: 18px;
   margin-bottom: 134px;
}

.support_list_container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   text-align: center;
   margin: 0 auto;
}

.support_list_container:after {
   content: '';
   display: block;
   clear: both;
}

.support_list_box {
   position:relative;
}

.support_list_box:first-child:before {
   display:none;
}

.support_list_box:before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 1px;
   height: 215px;
   background-color: #efefef;
}

.support_list_box a {
   display: block;
   position: relative;
   width: 100%;
   padding: 135px 17px 0 ;
}

.support_list_box a.creators:before {
   width: 87px;
   background-position: 0 -957px;
}

.support_list_box a.business:before {
   width: 101px;
   background-position: -92px -957px;
}

.support_list_box a.developers:before {
   width: 110px;
   height: 95px;
   background-position: -199px -957px;
}

.support_list_box a.flower:before {
   width: 93px;
   background-position: -316px -957px;
}

.support_list_box a:before {
   content:'';
   background-image: url(../img/all_icon.png);
   background-size: 474px 1400px;
   position:absolute;
   top:0;
   left:50%;
   height:100px;
   transform: translateX(-50%);
}

.support_list_box dt {
   margin-bottom: 10px;
   color:rgb(0, 184, 67);
   font-family: 'NanumSquareB';
   font-size:16px;
   line-height: 22.4px;
}

/* .support_list_box dt:hover {
   text-decoration: underline;
} */

.support_list_box:hover .underline {
   text-decoration: underline;
}

.support_list_box dd {
   color: rgb(135, 136, 144);
   font-size:15px;
   line-height: 24px;
}



footer {
   width:100%;
   height:160px;
   background-color:rgb(248, 249, 250);
   
}

.footer {
   display:flex;
   justify-content: space-between;
   padding:70px 30px;
}

.footer_left {
   display:flex;
}

.footer_logo {
   background: url(../img/naver_corp_logo2.png) no-repeat;
   width: 63px;
   padding-right:20px;
   margin-top:3px;
}

.footer_menu li {
   display:inline-block;
   padding:0 5px;
   
}

.footer_menu a {
   font-size:14px;
   color:rgb(135, 136, 144);
   
}

.footer_menu span {
   font-size:14px;
   color:rgba(135, 136, 144, 0.2);
}

.footer_left img {
   width:63px;
}

.footer_center {
   width:337px;
   background: url(../img/naver_corp_copy.png) no-repeat;
}

.footer_right button {
   font-family: 'NanumSquareB';
   background-color:rgba(255, 255, 255, 0);
   font-size:14px;
   margin-left:290px;
   padding-right:25px;
   position: relative;
}

.footer_right button::after {
   content: '';
   position: absolute;
   right: 0;
   top: 2px;
   width: 16px;
   height: 16px;
   background: url(../img/all_icon.png) no-repeat;
   background-size: 474px 1400px;
   background-position: -222px -26px;
}
