@charset "utf-8";

/* 여백 초기화 */
*,body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,
fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption {
    margin: 0; padding: 0; box-sizing: border-box;
    word-break: keep-all;}

/* a 링크 초기화 */
a {text-decoration: none; cursor: pointer;}

/* 폰트 스타일 초기화 */
em,address {font-style: normal;}

/* 블릿기호 초기화 */
ul,li,ol {list-style: none;}

/* 테두리 초기화 */
img,fieldset {border: 0 none;}

/* 버튼 초기화 */
button {border: 0; cursor: pointer; background-color: rgb(0,0,0,0.0);}

/* 반응형 */
video, img {width: 100%;}